* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
.custom-container {
	max-width: 1400px; /* .psd resolution */
	margin: auto;
	padding: 0 230px;
}
h2 {
	margin: 0;
	font-weight: 600;
	font-size: 32px;
	color: #010101;
}
h5 {
	margin: 20px 0;
	font-size: 20px;
	color: #313841;
}

/* HEADER SECTION */
.header {
	position: relative;
	width: 100%;
}
.header img {
	margin-top: 60px;
}
.header ul {
	float: right;
	margin: 0;
	padding: 0;
}
.header li {
	display: inline-block;
	margin: 65px 0 0 67px;
	font-size: 22px;
}
.header a {
	text-decoration: none;
	color: #010101;
	font-weight: 800;
}
.header a:hover {
	color: #929292;
}
.header .fa-bars {
	padding-right: 10px;
}
.menu-item {
	position: absolute;
	top: 45px;
	right: 90px;
	font-size: 18px;
	display: none;
}
.header, .slider {
	background-color: #fcdb00;
}

/* SLIDER SECTION */
.slider {
	padding: 60px 0 0 0;
}
.carousel-inner {
	height: 570px;
}
.carousel-indicators li {
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	width: 12px;
	height: 12px;
}
.slider .slide-description {
	margin-top: 70px;
	width: 389px;
	float: left;
}
.slide-description p {
	font-size: 16px;
	color: #555555;
}
.slide-description .fa-apple, .fa-android, .fa-windows {
	margin: 41px 38px 0 0;
	font-size: 40px;
	color: #010101;
}
.slide-description button {
	margin-top: 26px;
	border: 2px solid #010101;
	border-radius: 5px;
	background-color: transparent;
	width: 190px;
	height: 54px;
	color: #2d2d2d;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 20px;
}
.slide-description .fa-cloud-download {
	padding: 0 0 20px 10px;
}
.slide-description button:hover {
	background-color: #010101;
}
.slider img {
	width: 316px;
	float: right;
	margin-right: 40px;
}

/* FEATURES SECTION */
.features {
	padding: 120px 0;
}
.centered-h2-h5 {
	text-align: center;
}
.features .flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 85px 0 0 0;
	width: 100%;
	height: 350px;
	justify-content: space-between;
	align-content: space-between;
}
.features .flex-item {
	position: relative;
	width: 32%;
	height: 47%;
}
.flex-item i {
	font-size: 40px;
	margin: 0 10px;
}
.flex-item i, h6 {
	color: #010101;
}
.flex-item h6 {
	position: relative;
	left: 60px;
	top: -40px;
	margin: 0;
	font-size: 22px;
	font-weight: 600;
}
.flex-item p {
	position: relative;
	left: 60px;
	top: -30px;
	font-size: 16px;
	line-height: 1.3;
	color: #a7a7a7;
	width: 80%;
}

/* SUBCRIBLE SECTION */
.subcrible {
	padding: 100px 0 30px;
	background-color: #010101;
	text-align: center;
}
.subcrible h2 {
	color: #fcdb00;
}
.subcrible h5 {
	color: #898989;
}
.subcrible form {
	margin-top: 40px;
}
.subcrible input {
	width: 70%;
	padding: 15px;
	border-radius: 5px;
	border: none;
}
.subcrible button {
	margin-left: 15px;
	padding: 15px 30px;
	background-color: #fcdb00;
	border-radius: 5px;
	border: none;
	font-weight: 600;
	color: #010101;
}
.subcrible i {
	font-size: 40px;
	margin: 80 17px;
	color: #fcdb00;
}

/* FOOTER SECTION */
.footer {
	background-color: #010101;
	padding-bottom: 140px;
}
.footer a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}
.footer a:hover {
	font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 1366px) {
	.custom-container {
		max-width: 1366px;
		padding: 0 200px;
	}
	.header img {
		width: 130px;
	}
	.header li {
		font-size: 20px;
	}
	.carousel-inner {
		height: 550px;
	}
	.slider .slide-description {
		margin-top: 3%;
		width: 40%;
	}
	.slider .slide-description p {
		width: 120%;
		font-size: 13px;
	}
	.slide-description i {
		margin: 10% 11% 0 0;
	}
	.slider img {
		width: 35%;
		margin: 1% 2% 0 0;
	}
	.features {
		padding: 100px 0;
	}
	.features h2 {
		font-size: 31px;
	}
	.features h5 {
		font-size: 18px;
	}
	.flex-item i {
		font-size: 38px;
	}
	.flex-item h6 {
		left: 58px;
		font-size: 20px;
	}
	.flex-item p {
		left: 58px;
		font-size: 15px;
	}
}

@media (max-width: 1024px) {
	.custom-container {
		max-width: 1024px;
		padding: 0 120px;
	}
	.header img {
		margin-top: 40px;
		width: 120px;
	}
	.header li {
		margin: 45px 0 0 40px;
		font-size: 18px;
	}
	.carousel-inner {
		height: 470px;
	}
	.slider .slide-description {
		margin-top: 0;
		width: 45%;
	}
	.slider .slide-description p {
		width: 120%;
		font-size: 12px;
	}
	.slide-description i {
		margin: 10% 10% 0 0;
	}
	.slider img {
		width: 35%;
		margin: 0 3% 0 0;
	}
	.features {
		padding: 80px 0;
	}
	.features h2 {
		font-size: 28px;
	}
	.features h5 {
		font-size: 17px;
	}
	.features .flex-item {
		width: 48%;
		height: 32%;
	}
	.flex-item i {
		font-size: 35px;
	}
	.flex-item h6 {
		left: 55px;
		font-size: 18px;
	}
	.flex-item p {
		left: 55px;
		font-size: 14px;
	}
	.subcrible i {
		margin: 50 17px;
	}
	.footer {
		padding-bottom: 100px;
	}
	.footer a {
		font-size: 13px;
	}
}

@media (max-width: 750px) {
	.header li {
		display: none;
	}
	.menu-item {
		display: block;
	}
	.carousel-inner {
		height: 680px;
	}
	.slider .slide-description {
		margin-top: 0px;
		width: 100%;
		text-align: center;
	}
	.slide-description i {
		margin: 25px 20px 0 20px;
	}
	.slider img {
		width: 50%;
		margin: 6% 25% 2% 25%;
	}
	.features {
		padding: 70px 0;
	}
	.features h2 {
		font-size: 26px;
	}
	.features h5 {
		font-size: 16px;
	}

	.flex-item i {
		font-size: 30px;
	}
	.flex-item h6 {
		left: 50px;
		font-size: 17px;
	}
	.flex-item p {
		left: 50px;
		font-size: 13px;
	}
	.subcrible {
		padding: 70px 0 20px;
	}
	.subcrible input {
		width: 80%;
		border-radius: 5px 5px 0 0;
	}
	.subcrible button {
		width: 80%;
		margin: 0;
		border-radius: 0 0 5px 5px;
	}
	.subcrible i {
		margin: 60 17px;
	}
	.footer {
		padding-bottom: 80px;
		text-align: center;
	}
	.footer a {
		font-size: 14px;
		line-height: 1.8;
		padding: 20px 5px;
	}
}

@media (max-width: 640px) {
	.custom-container {
		max-width: 640px;
		padding: 0 60px;
	}
	.carousel-inner {
		height: 680px;
	}
	.slider img {
		width: 48%;
		margin: 6% 26% 2% 26%;
	}
	.features .flex-container {
		margin: 55px 0 0 0;
		justify-content: space-around;
	}
	.features .flex-item {
		width: 100%;
	}
	.subcrible {
		padding: 50px 0 0;
		margin-top: 220px;
	}
	.subcrible input {
		width: 85%;
	}
	.subcrible button {
		width: 85%;
	}
	.subcrible i {
		margin: 40 17px;
	}
}

@media (max-width: 480px) {
	.header {
		text-align: center;
	}
	a.menu-item {
		top: 50px;
		right: 20px;
	}
	.menu-item span {
		display: none;
	}
	.slide-description i {
		margin: 15px 10px 0 10px;
	}
	.slider img {
		width: 64%;
		margin: 10% 18% 2% 18%;
	}
	.subcrible input {
		font-size: 12px;
		width: 90%;
	}
	.subcrible button {
		width: 90%;
	}
	.subcrible i {
		margin: 40 10px;
	}
}

@media (max-width: 320px) {
	.slider img {
		width: 80%;
		margin: 10% 10% 2% 10%;
	}
	.subcrible {
		margin-top: 250px;
	}
	.subcrible input {
		font-size: 11px;
		width: 95%;
	}
	.subcrible button {
		width: 95%;
	}
	.subcrible i {
		margin: 20 15px;
	}
}